@model IEnumerable<BorrowDto>

@{
    ViewData["Title"] = "Borrowed and waiting for collect";
    Layout = "_Layout - logged";
}



<h2>Borrowed and waiting for collect</h2>



@foreach (var borrow in Model)
{
    <h4>Information:</h4>
    <p>Status: @borrow.Status</p>
    <p>Return Day: @(borrow.ReturnDay.HasValue ? borrow.ReturnDay.Value.ToString("yyyy-MM-dd") : "-")</p>

    <h4>Resources:</h4>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resource in borrow.Resources)
            {
                <tr>
                    <td>@resource.Title</td>
                    <td>@resource.Type</td>
                    <td>@resource.Category</td>
                </tr>
            }
        </tbody>
    </table>

    

    <hr />
}
